@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
 

}

.screen {
    border: 3px solid black;
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4fef4;
    
}

.screen-text {
    font-family: 'Press Start 2P';
    font-size: 16px;

}

.ui-text {
    font-family: 'Press Start 2P';
    font-size: 12px;
    padding-top: 10px;
}

* {
    margin: 0;
    padding: 0;

}

/* Container contains entire drum machine */

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid black;
    width: 1000px;
    height: auto;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: lightgray;

}

.parent {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 175px 150px 150px 150px;
    width: 100%;
    height: 100%;;
}


.parent > .header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;

    
}
.parent > .nav {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-end: 6
}
.parent > .pad-container {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: black;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-end: 6;
    height: 100%;
    
}
.parent > .footer {
    grid-area: footer;
}

/* Pad Group Parent */

.pad-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: auto;
    width: auto;
}


.pad-group > .pad {
    grid-area: pad;
    width: 150px;
    height: 150px;
    border: 3px solid purple;
    padding: 10px;
    margin: 20px;
}

.pad-group > .pad-1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #E8ECFB;
    
}

.pad-group > .pad-2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #B997C7;
    
}
.pad-group > .pad-3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #824D99;
    
}
.pad-group > .pad-4 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #4D78C3;
    
}
.pad-group > .pad-5 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #56A2AC ;
    
}
.pad-group > .pad-6 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: #7EB775;
}
.pad-group > .pad-7 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color:#CD2120;
    
}
.pad-group > .pad-8 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #E57F33;
    
}
.pad-group > .pad-9 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #D0B541
    
}

.child {
    border: 3px solid purple;
}

span {
    opacity: 0;
    transition: all .4s ease;
}

span.fade {
    opacity: 1;
}